.animate {
    opacity: 0;
    transform: translateY(24px);
    transition:
        opacity 700ms ease,
        transform 700ms ease;
}

.animate.fade-in {
    opacity: 1;
    transform: translateY(0);
}
